.dream {
    &__sections {
        display: flex;
    }
    &__h1 {
        font-size: 11.2rem;
        max-width: 60%;
        letter-spacing: -2px;
        line-height: .8;
        margin: 10px 0 40px 0;
        @media screen and (max-width: 1200px) {
            font-size: 9rem;
            margin: 40px 0;
        }
        span {
            color: #FD665E;
        }
    }
    &__about {
        width: 30%;
    }
    &__text {
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 1.5;
        @media screen and (max-width: 1200px) {
            padding-right: 20px;
        }
    }
    &__img {
        width: 70%;
        position: relative;
        overflow: hidden;
        min-height: 400px;
    }
    &__pos-img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}